# Build folder.
/build/

# Test output folder.
/tests/data/
/mistral_debug/
/target_images/

# Media folders.
/media
/media_internal

# Packman folders.
/external/packman/
/tools/.packman/

# IDE folders.
/.vs/
/.vscode/

# User files.
/CMakeUserPresets.json
ours/tmp_render/
mistral_debug/
ours/target_images/

# File types.
*.user
*.suo
*.pyc
*.VC.db
*.VC.opendb
*.pyc
*slang-dump-*
*.mp4
*.tlog
*.bak
*.swp
